{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Create an Account</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <!-- <div class="form-group">
            <label for="refferal">Referral Code</label>
            <input type="text" id="refferal" name="refferal(optional)">
        </div> -->

        <button type="submit" class="btn">Register</button>
    </form>
    <p class="auth-switch">Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
</div>
{% endblock %}